.new-row {
  clear: left;
}

.golden {
  color: #cc9543;
}

.dark {
  color: rgba(74, 74, 74, 0.7);
}

.text-center {
  text-align: center;
}

.no-padding {
  padding: 0 !important;
}

.no-text-decoration {
  text-decoration: none;
}

.font-style1 {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.font-style2 {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
}

.font-style3 {
  font-size: 1.5rem;
  letter-spacing: 0.3px;
  color: #4a4a4a;
  font-weight: 700;
}

.button-style {
  text-transform: capitalize;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 3.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body .col-1 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 8.3333333333%;
}
body .col-2 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 16.6666666667%;
}
body .col-3 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 25%;
}
body .col-4 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 33.3333333333%;
}
body .col-5 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 41.6666666667%;
}
body .col-6 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 50%;
}
body .col-7 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 58.3333333333%;
}
body .col-8 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 66.6666666667%;
}
body .col-9 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 75%;
}
body .col-10 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 83.3333333333%;
}
body .col-11 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 91.6666666667%;
}
body .col-12 {
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
  width: 100%;
}
body header nav {
  height: 70px;
  margin: 0 168px;
}
body header nav div {
  height: inherit;
}
body header nav div a {
  text-decoration: none;
  height: inherit;
}
body header nav div a img {
  width: 53px;
  height: inherit;
}
body header nav div a span {
  font-family: "Skranji", cursive;
  letter-spacing: 0.4px;
  font-size: 1.3em;
  height: inherit;
  line-height: 70px;
  text-align: left;
  padding-left: 10px;
}
body header nav ul {
  list-style: none;
  height: inherit;
  margin: 0;
  padding-left: 11%;
}
body header nav ul li {
  height: inherit;
  letter-spacing: 0.2px;
  font-size: 1em;
  font-weight: bold;
  line-height: 70px;
  float: left;
  padding-right: 18px;
}
body header nav ul li a {
  text-decoration: none;
  height: inherit;
}
body header nav ul li a:hover {
  color: #343a40;
}
body .main-content .main-title {
  padding-top: 90px;
}
body .main-content .main-text {
  text-align: center;
}
body .main-content .btn-container {
  padding: 50px 0 60px 0;
  display: flex;
  justify-content: space-between;
}
body .main-content .btn-container button {
  display: inline-block;
  background-color: #6abfc3;
  width: 280px;
}
body .how-it-works {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .how-it-works h3 {
  margin-top: 0;
}
body .how-it-works p {
  margin-bottom: 100px;
}
body .how-it-works .further-explanation {
  display: flex;
  align-items: baseline;
}
body .how-it-works .further-explanation div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .how-it-works .further-explanation div h4 {
  margin: 50px 0 20px 0;
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  color: #4a4a4a;
}
body .how-it-works .further-explanation div p {
  margin: 0;
}
body .courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  margin-top: 100px;
}
body .courses h3 {
  padding-top: 15px;
}
body .courses div {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}
body .courses .course {
  background-color: #fff;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
body .courses .course img {
  width: 160px;
  height: 160px;
  padding: 0;
  margin: 20px 0;
}
body .courses .course span {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin-bottom: 20px;
}
body .courses button {
  background-color: #cc9543;
  margin-bottom: 20px;
}
body .stories {
  background-image: linear-gradient(to bottom, #fff, #eee);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .stories h3 {
  margin: 60px 0 100px;
}
body .stories div div article {
  padding-left: 60px;
  margin-bottom: 60px;
}
body .stories div div article img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 15px 15px 0 0;
}
body .stories div div article div h4 {
  margin: 0;
  padding-bottom: 5px;
}
body .stories div div article div p {
  margin: 0;
  line-height: 1.88;
  font-size: 1rem;
}
body .stories div .read-more {
  display: block;
  text-decoration: underline;
}
body .stories div .button-container {
  display: flex;
  justify-content: center;
}
body .stories div .button-container button {
  background-color: #6abfc3;
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  body .col-1 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 8.3333333333%;
  }
  body .col-2 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 16.6666666667%;
  }
  body .col-3 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 25%;
  }
  body .col-4 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 33.3333333333%;
  }
  body .col-5 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 41.6666666667%;
  }
  body .col-6 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 50%;
  }
  body .col-7 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 58.3333333333%;
  }
  body .col-8 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 66.6666666667%;
  }
  body .col-9 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 75%;
  }
  body .col-10 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 83.3333333333%;
  }
  body .col-11 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 91.6666666667%;
  }
  body .col-12 {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  body .col-1 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 8.3333333333%;
  }
  body .col-2 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 16.6666666667%;
  }
  body .col-3 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 25%;
  }
  body .col-4 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 33.3333333333%;
  }
  body .col-5 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 41.6666666667%;
  }
  body .col-6 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 50%;
  }
  body .col-7 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 58.3333333333%;
  }
  body .col-8 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 66.6666666667%;
  }
  body .col-9 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 75%;
  }
  body .col-10 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 83.3333333333%;
  }
  body .col-11 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 91.6666666667%;
  }
  body .col-12 {
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
