@mixin gridFramework($span,$gutter) {
	float: left;
	box-sizing: border-box;
	padding-right: $gutter;
	width: 100% / 12 * $span;
}
@mixin newRow {
	clear: left;
}
$gutter:0;

.col-1{
	@include gridFramework(1,$gutter);
}
.col-2{
	@include gridFramework(2,$gutter);
}
.col-3{
	@include gridFramework(3,$gutter);
}
.col-4{
	@include gridFramework(4,$gutter);
}
.col-5{
	@include gridFramework(5,$gutter);
}
.col-6{
	@include gridFramework(6,$gutter);
}
.col-7{
	@include gridFramework(7,$gutter);
}
.col-8{
	@include gridFramework(8,$gutter);
}
.col-9{
	@include gridFramework(9,$gutter);
}
.col-10{
	@include gridFramework(10,$gutter);
}
.col-11{
	@include gridFramework(11,$gutter);
}
.col-12{
	@include gridFramework(12,$gutter);
}
.new-row{
	@include newRow;
}
.golden{
	color: #cc9543;
}



body {
	header {
		nav {
			div {
				a {
					text-decoration: none;
					span {
						font-family: 'Skranji', cursive;
						letter-spacing: 0.4px;
    					font-size: 2em;
					}
				}
			}
			ul {
				list-style: none;
				li {
				}
			}
		}
	}
	@media (max-width: 1199px) {
	}
	@media (max-width: 767px) {
	}
}